* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  --text-white: #e4e5ea;
  --text-gray: #656566;
  --text-gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
    #e4e5ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 1440px;
  height: 980px;
  background: #0e1014;
  padding: 0 150px;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: var(--text-white);
}

@media screen and (max-width: 320px) {
  .App {
    width: 320px;
    height: auto;
    padding: 0;
  }
}
